<a class="button" style="margin: 2em 0" href="{{ path('pdf_slideshow.list_controller_delete') }}">{% trans %}Remove all{% endtrans %}</a>
<table class="views-table views-view-table cols-2 responsive-enabled sticky-enabled">
  <thead>
  <tr>
    <th>PDF file uri (id)</th>
    <th>Image file url (id)</th>
  </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td>{{ item.pdf_file_id }}</td>
      <td>{{ item.image_file_id }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
